.detailContainer{
background-color: rgb(255, 255, 255, 0.9 );
  width: 70%;
  height: auto;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  padding: 20px;
  display: flex;
  align-items: center;
  

  }
  .image{
   object-fit: cover;
   margin-right: 15px;
  }
  .image img{  
     border: 1px solid black;
     width: 500px;
   }  

  .cardDetail {
  
    width: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .cardDetail li {
    color: #666;
  }
  

  .cardDetail p{
      
      font-size: 16px;
      color: #666;
  }

  .detailInfoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  

  .titleCountryDetail h2 {
    font-size: 100px;
    color: #333;
    display: flex;
    align-items: flex-end;
}
.titleCountryDetail p {
  margin-bottom: 22px;
  color: #333;
}

.cardDetailbutton button {
border: none;
background: none;
transition: transform 0.2s ease-out;
color: #666;
}

.cardDetailbutton button:hover {
  transform: scale(1.1);
  color: #333;
}