body {
    margin: 0;
    padding: 0;
    background: url("../../assets/backgroundWord3.jpg") no-repeat center fixed;
    
    font-family: verdana;
    background-size:cover;

   
  }




.homeCardContainer{
  display: flex;
  background-color: rgb(255, 255, 255, 0.7);
  margin-top: 80px;
  padding: 20px;

  

}

.paginationbutton {
  display: flex;
  justify-content: center;
  
   
  }
  

  .paginationbutton button {
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    width: 130px;
    height: 40px;
    border: none;
    
    background-color: #970e10 ; 
    color: #fff; 
    cursor: pointer;
    transition: transform 0.2s ease-out;
   
  }


  .paginationbutton button:hover {
    
 
    transform: scale(1.1);
  }
    



.selectContainer select {
  border-radius: 10px;
  margin-top: 10%;
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  border: none;
  background-color: #970e10 ; 
  color: white; 
  cursor: pointer;
  z-index: 2;
  border: 2px solid transparent;
  transition: transform 0.2s ease-out;
 
}
.selectContainer select:hover{
  transform: scale(1.1);
}

.homeSelect {
  display: flex;
  
  min-width: 200px;
  margin-top: 110px;
  flex-direction: column;
}


.homeSelect button{
  border-radius: 10px;
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  border: none;
  background-color: #970e10 ; 
  color: #fff; 
  cursor: pointer;
}

.homeSelect button:hover {
  background-color: #570709;
  
}
