
.navbarContainer{
    background-color: #970e10       ;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin: 0 auto;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    z-index: 1000;
    
}



.navbarContainer form {
    display: flex;
  
    
  }
  
  .navbarContainer input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    width: 200px; 
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .optionsContainer2 button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;

    background-color: #970e10 ; 
    color: white; 
    cursor: pointer; 
    
  }
  
  .optionsContainer2 button:hover {
    background-color: #570709 ;
    
  }

  .navbarContainer img {
    width: 4%;
    height: 4%;
    padding: 15px;
    width: 45%;
    height:75%
    
   
  }

  .navbarContainer a {
        text-decoration: none;
        color: inherit;
        width: 20%;
        display:grid;
        margin-right:30%;
      }
  
.logo {
    display: flex;
    align-items: center;
    margin-left: 3%;
      }


.navbarContainer h2{
        padding: 10px;
        
        color: #fafafa;
        
    }

.optionsContainer{
    display: flex;
    margin-right: 10px;  
}

.optionsContainer img{
  border: solid 100px white;

}

.optionsContainer2{
    display: flex;
    margin-right: 10px;
}
.buttonSearchNavbar{
position: relative;
right: 50px;
list-style: none;
border: 0;
background: none;
}